//- Formulary
div(class="bg-white shadow py-8 px-4 rounded mx-auto max-width max-w-2xl my-10 md:px-10")
    form(
        id="publish_image"
        class="mt-4 border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center"
        method="POST"
        action=`/user/property/images/set_image/${property.id}`
        enctype="multipart/form-data"
    )
        //- Empty tag defaults to div
        .space-y-8
            h3.text-lg.leading-6.font-medium.text-gray-900 Select images
            p.text-gray-600 Select one or more images for the property
        
        input(
            type="file" 
            multiple="multiple"
            id="images"
            name="images"
            accept="image/jpeg, image/png, image/jpg"
        )
        
        h3.text-lg.leading-6.font-medium.text-gray-900 Images
        div#imagesView
            - for (var x = 0; x < 10; x++)
                div(class="rounded")
                    img(class="image" id=`image_${x}` src="" hidden)
                    
                    //- Remove icon(a cross)
                    img(id=`image_${x}_remove_icon` src="" hidden
                        class=`remove_icon absolute shadow shadow-white hover:cursor-pointer`)
        
        //- Add image
        input(
            id="publish"
            class="w-full mt-5 py-3 bg-indigo-600 hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer"
            type="submit"
            value="Publish property"
        )

block scripts
    script(src="/js/routes/user/property/set_image.js")
