extends ../index

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

//- Single property view
block content
    div(class="py-5")
        h1(class="text-4xl my-10 font-extrabold text-center")= property.title
        
        //- pre= JSON.stringify(property, undefined, 4)
        
        div
            a(href="#" class="font-bold text-gray-600 text-sm") Categoria: 
                span(class="font-normal")= property.category.name
        
        div(class="mt-5 md:flex md:gap-4")
            div(class="md:w-2/3 bg-white shadow rounded-lg")
                //- //- Property image
                //- img(src="" alt=`${property.title} image` id="propertyImage")
                
                div(class="m-1 relative max-w-96")
                    //- Carousel of images
                    div(id="carousel" class="overflow-hidden relative")
                        div(id="horizontalView" class="flex transition ease-out duration-40")
                        
                        //- Arrows
                        div(class="absolute top-0 h-full w-full justify-between items-center flex px-10")
                            button(id="carouselLeftButton")
                                img(
                                    class="hover:cursor-pointer"
                                    id="carouselLeftButtonImage"
                                    src="", alt="Button to move the carousel to the left"
                                    width="32"
                                    height="32"
                                    )
                            
                            button(id="carouselRightButton")
                                img(
                                    id="carouselRightButtonImage"
                                    src="", alt="Button to move the carousel to the right"
                                    width="32"
                                    height="32"
                                    )
                
                div(class="px-5 py-10 space-y-5")
                    p= property.description
                    
                    h2(class="text-2xl leading-6 font-bold text-gray-900") Property information
                    
                    div(class="grid grid-cols-1 md:grid-cols-2")
                        p(class="text-gray-600 font-bold text-xs") Bathrooms
                            span(class="text-gray-800 block text-lg")= property.bathrooms
                        
                        p(class="text-gray-600 font-bold text-xs") Rooms
                            span(class="text-gray-800 block text-lg")= property.rooms
                        
                        p(class="text-gray-600 font-bold text-xs") Parking
                            span(class="text-gray-800 block text-lg")= property.parking
                        
                        p(class="text-gray-600 font-bold text-xs") Price
                            span(class="text-gray-800 block text-lg")= property.price.name
            
            //- Map
            div(class="md:w-1/3")
                h3(class="text-center py-10 leading-6 text-2xl font-bold text-gray-900") Property location
                
                div(class="h-96" id="map")
                    p(id="latitude" class="hidden")= property.latitude
                    p(id="longitude" class="hidden")= property.longitude
                
                div(class="p-5")
                    p(class="text-gray-600 font-bold text-xs") Direction 
                        span(class="text-gray-800 block text-lg")= property.street
            
            //- Give the user a warning
            if !user
                p You need an account to contact the owner 
                a(href="/auth/register") Make an account
            else 
                if !isSeller
                    p Contact owner
                else
                    p Your property 

block scripts
    //- Leaflet
    script(
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""
    )
    
    //- For locating the street
    <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>
    
    script(src="/js/routes/property/view.js")
