extends ../index

block styles
    //- Leaflet
    link(
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""
    )

//- Page content
block content
    h1 Quick start map tutorial 
    
    div#map(style="height: 720px;")
    
    h4 Reference/s:
    a(href="https://leafletjs.com/examples/quick-start/") Quick start

block scripts
    //- Leaflet
    script(
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""
    )
    
    script(src="/js/routes/examples/map/quick_start.js")

