//- Square view
div(class="bg-white shadow rounded-lg")
    
    //- id=`${property.id}_image`
    //- img(class="object-cover h-72 w-full" id=`grid_property_image_${property.id}` alt=`House ${property.title}`)
    img(class="object-cover h-72 w-full" id=`${property.id}_image` alt=`House ${property.title}`)
    
    div(class="p-5 space-y-2")
        //- Property data
        h3(class="text-2xl")= property.title
        
        //- pre= JSON.stringify(property, undefined, 4)
        
        p(class="text-sm text-gray-600") House type  
            span(class="text-gray-800 font-bold")= property["category.name"]
        
        p(class="text-sm text-gray-600") Rooms 
            span(class="text-gray-800 font-bold")= property.rooms
        
        p(class="text-sm text-gray-600") Bathrooms 
            span(class="text-gray-800 font-bold")= property.bathrooms
        
        p(class="text-sm text-gray-600") Price 
            if property["price.name"]
                span(class="text-gray-800 font-bold")= property["price.name"]
            else if property.price && property.price.name
                span(class="text-gray-800 font-bold")= property.price.name
            else
                span(hidden)
        
        a(href=`/property/view/${property.id}` class="bg-green-600 w-full text-center block font-bold text-white p-2 uppercase rounded" target="_blank") Go to property
