extends ../../index

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block content 
    .py-10
        //- Title
        h1.text-4xl.my-10.font-extrabold.text-center Good
            span.font-normal Roots
    
        h2.text-center.text-6xl= page
        
        //- Formulary
        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-width max-w-2xl my-10 md:px-10")
            form.space-y-8(
                method="POST"
                action="edit"
                id="edit:form"
            )
                //- Empty tag defaults to div
                .space-y-8
                    h3.text-lg.leading-6.font-medium.text-gray-900 General Information
                    p.text-gray-600 Add information about the property
                    
                    //- Fields
                    //- Property title
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="title") Property title 
                        input#title.w-full.px-3.py-4.border.border-gray-300.rounded-md.placeholder-gray-400(
                            placeholder="My spectacular house" type="text" name="title" value=property.title)
                    
                    //- Description
                    div
                        label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="description") Description 
                        textarea(
                            id="description"
                            class="w-full px-3 py-4 border border-gray-300 rounded-md placeholder-gray-400"
                            placeholder="My house description"
                            name="description"
                        )=property.description
                    
                    //- Category and price with a select item list
                    div(class="md:flex md:gap-4 space-y-6 md:space-y-0")
                        //- Category
                        //- value=category ? property.category : ""
                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="categoryId") Category 
                            select#category.w-full.px-3.py-4.border.border-gray-300.rounded-md.placeholder-gray-400(
                                name="categoryId")
                                option(value=property.categoryId) - Select one - 
                                each category in categories
                                    option(
                                        value=category.id
                                        selected=property.categoryId == category.id ? true : false
                                    )=category.name
                        
                        //- Price
                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="priceId") Price 
                            select#price.w-full.px-3.py-4.border.border-gray-300.rounded-md.placeholder-gray-400(
                                name="priceId")
                                option(value=property.priceId) - Select one - 
                                each price in prices
                                    option(
                                        value=price.id
                                        selected=property.priceId == price.id ? true : false
                                    )=price.name
                    
                    //- Category and price with a select item list
                    div(class="md:flex md:gap-4 space-y-6 md:space-y-0")
                        //- Category
                        //- value=category ? property.category : ""
                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="rooms") Rooms 
                            select#rooms.w-full.px-3.py-4.border.border-gray-300.rounded-md.placeholder-gray-400(
                                name="rooms")
                                option(value=property.rooms) - Select one - 
                                - var n = 1;
                                    while n < 10
                                        option(
                                            value=n
                                            selected=property.rooms == n ? true : false
                                        ) #{n++}
                                        
                        
                        //- Parking
                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="parking") Parking 
                            select#parking.w-full.px-3.py-4.border.border-gray-300.rounded-md.placeholder-gray-400(
                                name="parking")
                                option(value=property.parking) - Select one - 
                                - var n = 1;
                                    while n < 5
                                        option(
                                            value=n
                                            selected=property.parking == n ? true : false
                                            ) #{n++}
                        
                        //- Bathrooms
                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="bathrooms") Bathrooms 
                            select#bathrooms.w-full.px-3.py-4.border.border-gray-300.rounded-md.placeholder-gray-400(
                                name="bathrooms")
                                option(value=property.bathrooms) - Select one - 
                                - var n = 1;
                                    while n < 5
                                        option(
                                            value=n
                                            selected=property.bathrooms == n ? true : false
                                            ) #{n++}
                    
                    //- Location information
                    div.border-gray-200.border-t.py-5.space-y-5
                        //- Information
                        h3.text-lg.leading-6.font-medium.text-gray-900 Location
                        p.text-gray-600 Locate the property on the map
                        
                        //- Show map
                        #map.h-96
                        
                        //- Show the user the current street
                        div 
                            p#show_street.street=property ? property.street : ""
                        
                        //- Send information about the pin location to the backend
                        input(
                            type="hidden"
                            value=property.street
                            name="street"
                            id="street")
                        input(
                            type="hidden"
                            value=property.latitude
                            name="latitude"
                            id="latitude")
                        input(
                            type="hidden"
                            value=property.longitude
                            mame="longitude"
                            id="longitude")
                    
                    //- Add image
                    input(
                        class="w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer"
                        type="submit"
                        value="Add image"
                    )

block scripts
    //- Leaflet
    script(
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""
    )
    
    //- For locating the street
    <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>
    
    //- Load map
    script(src="/js/map.js")
    script(src="/js/routes/user/property/edit.js")
