//- Property image
div(class="sm:w-1/4 md:w-1/6 lg:w-1/6")
    //- This has to be a component
    //- Id example: 1_image
    img(
        id=`${property.id}_image`
        alt=`Image of the property ${property.title}`
        class="w-full block"
    )
    
    //- Can't get website url here, and the relative uri doesn't even work 💀
    //- img(
    //-     id=`${property.id}_image`
    //-     src=`${property.imagesRelativeURI[0]}`,
    //-     alt=`Image of the property ${property.title}`
    //-     class="w-full block"
    //- )
